chapter1/hello_cargo/target/
chapter1/hello_world/target/
chapter2/guessing_game/target/
chapter2/guessing_game_2/target/
chapter3/variables/target/
chapter4/program1/target/
chapter4/program2/target/
chapter4/program3/target/
chapter4/program4/target/
chapter5/program1/target/
chapter5/program2/target/
chapter6/program1/target/
chapter6/program2/target/
chapter7/restaurant_project/restaurant/target/
chapter7/restaurant_project/restaurant_prog/target/

