chapter1/hello_cargo/target/
chapter1/hello_world/target/
chapter2/guessing_game/target/
chapter2/guessing_game_2/target/
chapter3/variables/target/
chapter4/program1/target/
chapter4/program2/target/
chapter4/program3/target/
chapter4/program4/target/
chapter5/program1/target/
chapter5/program2/target/
chapter6/program1/target/
chapter6/program2/target/
chapter7/restaurant_project/restaurant/target/
chapter7/restaurant_project/restaurant_prog/target/
chapter7/simple_math/target/
chapter8/program1/target/
chapter9/program1/target/
chapter9/program2/target/
chapter9/program3/target/
chapter10/generics/target/
chapter10/traits/target/
chapter10/references/target/
chapter11/error_testing/target/
chapter11/integration_error_testing/target/
chapter12/minigrep/target/
chapter13/closures/target/
chapter13/iterators/target/
chapter14/adder/target/
chapter14/hasher/target/
chapter15/smart_pointers_1/target
chapter15/smart_pointers_2/target
chapter15/smart_pointers_3/target
chapter16/threads1/target
chapter16/mutex/target
chapter17/mini_game/target
chapter18/patterns/target
chapter19/advanced_features/target
chapter19/c_library/libadd.dylib
chapter19/advanced_traits/target

