chapter1/hello_cargo/target/
chapter1/hello_world/target/
chapter2/guessing_game/target/
chapter2/guessing_game_2/target/
chapter3/variables/target/
chapter4/program1/target/
chapter4/program2/target/
chapter4/program3/target/

